.post-section{
    border: 1px solid;
    border-color: #1a2a3a;
    margin: 20vh;
    .post-title {
      font-size: 1.5em;
      .post-title-link {
        color: #368CCB;
        text-decoration: none;
      }
    }
  
    .post-content {
      a {
        color: #368CCB;
        text-decoration: none;
      }
    }
  
    .post-meta {
      color: #BABABA;
    }
  
    .post-excerpt{
      color: #d4cccc
      }
  
    .post-list {
      padding: 5vh 5vw;
      width: 80%;
      left: 10vw;
      background-color: #1a2a3a;
      border: 1px solid #1a2a3a;
      box-shadow: 0 0 2px #ddd;
    }
  }
  