@font-face {
  font-family: "iconfont"; /* Project id 4715704 */
  src: url('iconfont.woff2?t=1729230998146') format('woff2'),
       url('iconfont.woff?t=1729230998146') format('woff'),
       url('iconfont.ttf?t=1729230998146') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye1:before {
  content: "\e8c6";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-xinlangweibo:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e602";
}

.icon-facebookfacebook51:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-ai-kind:before {
  content: "\e64d";
}

.icon-guanyuwo:before {
  content: "\e62b";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-fenlei:before {
  content: "\e605";
}

.icon-guanyu:before {
  content: "\e633";
}

.icon-sousuo1:before {
  content: "\e604";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-guidang:before {
  content: "\e666";
}

.icon-youxiang1:before {
  content: "\e664";
}

.icon-tupian:before {
  content: "\e607";
}

.icon-fenlei1:before {
  content: "\e606";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-sousuo2:before {
  content: "\e60a";
}

.icon-xiangce:before {
  content: "\e6e2";
}

.icon-github:before {
  content: "\e673";
}

